.tip{
    @extend code;
    @extend .bg-purple-000;
    @extend .text-grey-lt-000;
    @extend .fs-4;
    @extend .p-4;
    font-family: $body-font-family!important;
    strong{
        @extend .fw-700;
        display: block;
        text-transform: uppercase;
        &:before{
            content:"TIP: ";
        }
    }
    a{
        @extend .text-grey-lt-000;
        @extend .fw-300;
        text-decoration: underline;
    }
    code{
        @extend .text-grey-dk-250;
    }
    
}

.step{
    &:after{
        content:'';
        display: block;
        height: 1px;
        @extend .bg-grey-lt-300;
        padding: 0px;
        margin: 2rem 0px;
        border-width: 0px;
        border-style: initial;
        border-color: initial;
        border-image: initial;
    }
    figure{
        max-width:175px;
        img{
            width:100%;
            height:auto;
        }
    }
}

